* {
  margin: 0;
  padding: 0;
}

html, body {
    overflow: hidden;
}

body {
  font-family: "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid {
  display: grid;
  grid-template-rows: 10% auto 10%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

h1 {
  font-weight: 500;
}

a:link, a:visited, a:active {
  color: #0074d9;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #005299;
  /*text-decoration: underline;*/
  transition: 200ms color ease-in-out;
}

.auth-input::placeholder, .auth-textarea::placeholder {
  color: #666;
}

.auth-input, .auth-textarea {
  color: #222;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #aaa;
  margin-bottom: 15px;
  width: 250px;
  border-radius: 15px;
  padding: 6px 15px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) inset 0px 1px 2px 0px;
}

.auth-input:focus, .auth-textarea:focus {
  background-color: #f9f9f9;
  border: 1px solid #333;
  /*color: #fff;*/
}

.sign-up-button {
  background-color: #0074d9;
  border: 1px solid #0074d9;
  border-radius: 20px;
  color: #f3f3f3;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  height: 34px;
  outline: none;
  width: 120px;
  transition: color 0.4s ease-in-out;
  box-shadow: rgba(120, 120, 120, 0.4) 0px 2px 2px 0px;
  opacity: 1;
  transition: opacity 800ms cubic-bezier(.6,0,.4,1);
}

.sign-up-button:hover {
  background-color: #005299;
  border: 1px solid #005299;
  color: #ffffff;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.sign-up-button.fade {
  opacity: 0;
  transition: opacity 800ms cubic-bezier(.6,0,.4,1);
}

.error-auth {
  border: 1px solid transparent;
  background-color: #fff;
  color: #ff0033;
  font-size: 16px;
  margin-bottom: 15px;
  height: 30px;
  width: 250px;
  border-radius: 15px;
  outline: none;
  opacity: 0;
  transition: opacity 600ms cubic-bezier(.6,0,.4,1);
}

.error-auth.visible {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(.6,0,.4,1);
}

.submit-button {
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  padding: 0 50px;
  background-color: #0074d9;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
}

.footer-item {
  margin: 15px;
}

/* Transitions */
.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms cubic-bezier(.6,0,.4,1);
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms cubic-bezier(.6,0,.4,1);
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms cubic-bezier(.6,0,.4,1);
}

.fade-in-motto-bg {
  opacity: 0;
}

.fade-in-motto-bg.visible {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(.6,0,.4,1);
}

.fade-in-motto {
  opacity: 0.2;
  position: relative;
  bottom: -20px;
  text-shadow: 0 0 24px white;
}

.fade-in-motto.visible {
  opacity: 1;
  transition: opacity 1000ms cubic-bezier(.6,0,.4,1) 200ms, bottom 1100ms cubic-bezier(.6,0,.4,1) 200ms,text-shadow 1200ms cubic-bezier(.6,0,.4,1) 200ms;
  bottom: 0px;
  text-shadow: 0 0 0px white;
}

.fade-in-circle-1 {
  opacity: 0;
  position: relative;
  bottom: -20px;
}

.fade-in-circle-1.visible {
  opacity: 1;
  bottom: 0px;
  /*transition: opacity 900ms cubic-bezier(.6,0,.4,1) 550ms, bottom 800ms cubic-bezier(.6,0,.4,1) 550ms;*/
  transition: opacity 1000ms cubic-bezier(.6,0,.4,1) 1200ms, bottom 1100ms cubic-bezier(.6,0,.4,1) 1200ms;
}

.fade-in-circle-2 {
  opacity: 0;
  position: relative;
  bottom: -20px;
  background-color: #fff;
}

.fade-in-circle-2.visible {
  opacity: 1;
  bottom: 0px;
  /*transition: opacity 900ms cubic-bezier(.6,0,.4,1) 550ms, bottom 800ms cubic-bezier(.6,0,.4,1) 550ms;*/
  transition: opacity 1100ms cubic-bezier(.6,0,.4,1) 1100ms, bottom 1000ms cubic-bezier(.6,0,.4,1) 1200ms;
}

.fade-in-circle-3 {
  opacity: 0;
  position: relative;
  bottom: -20px;
}

.fade-in-circle-3.visible {
  opacity: 1;
  transition: opacity 900ms cubic-bezier(.6,0,.4,1) 1250ms, bottom 800ms cubic-bezier(.6,0,.4,1) 1250ms;
  bottom: 0px;
}

/* /Transitions */

/* Pages */
.main-content {
  left: 0;
  right: 0;
  /*padding: 20px;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  z-index: 1;
}

.background-shade-darker {
  background-color: #002240;
}

.background-shade {
  background-color: #c8e5ff;
}


.background-shade-lighter {
  background-color: #eaf5ff;
}

.auth-page {
  background-color: #ffffff;
  width: 340px;
  padding: 0 50px 10px 50px;
  border-radius: 20px;
  margin: 20px auto 0 auto;
  /*border: 1px solid #eee;*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 2px -2px;
}

.heading {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 30px;
  font-weight: 200;
  width: 250px;
  color: #666;
  /*border-bottom: 1px solid #999;*/
}

.or {
  background-color: #ffffff;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  margin: 20px auto 0 auto;
  /*border: 1px solid #eee;*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 2px -2px;
  text-align: center;
  font-size: 18px;
}

.active-tab {
  color: red;
}

.active-content {
  display: block;
}

.inactive-content {
  display: none;
}

@keyframes loader-animate {
  0% { opacity: 1; transform:scale(1,1); }
  38% { opacity: 0.7; }
  50% { opacity: 0.6; transform:scale(1.4,1.4); }
  100% { opacity: 1; transform:scale(1,1); }
}


.loader-animate {
  animation: loader-animate 3000ms cubic-bezier(.4,0,.6,1) 0s infinite alternate;
}

@keyframes loader-fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.loader-animate-done {
  animation: loader-fade-out 800ms cubic-bezier(.4,0,.6,1) 0s 1 normal;
  opacity: 0;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  animation: fade-in 1600ms cubic-bezier(.4,0,.6,1) 0s 1 normal;
}

/* /Pages */

/* Chat */
/*::-webkit-scrollbar {*/
  /*width: 10px;*/
  /*height: 50px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
  /*background: #aaa;*/
  /*border-radius: 10px;*/
  /*height: 50px;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
  /*background: #777;*/
  /*height: 50px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
  /*background: #e0e0e0;*/
  /*border-radius: 10px;*/
  /*height: 50px;*/
/*}*/

.nav {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
  z-index: 2;
  width: 100vw;
  position: absolute;
}

.nav-height {
  height: 8vh;
}

.logo {
  margin-top: 1vh;
  outline: none;
  width: 100vw;
}

.logo-height {
  height: 6vh;
}

.chat-messages {
  padding: 7px 5px 7px 5px;
  box-sizing: border-box;
  background-color: #fff;
  /*border-bottom: 1px solid #999;*/
  height: 82vh;
  overflow-y: scroll;
  padding: 15px;
}

.chat-message {
  border-radius: 20px;
  padding: 6px 12px 6px 12px;
  max-width: 75vw;
  display: inline-block;
  text-align: left;
  word-wrap: break-word;
  font-size: 18px;
  white-space: pre-wrap;
}

.my-message-container {
  text-align: right;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
}

.my-message {
  background-color: #0074d9;
  color: white;
  margin-left: auto;
}

.buddy-message-container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

.buddy-message {
  background-color: #e9e9e9;
  color: #000;
}

.system-message-container {
  text-align: center;
  position: relative;
}

.system-message {
  border: 1px solid #666;
  color: #666;
}

.message-timestamp-container {
  position: absolute;
  text-align: center;
  width: 100%;
}

.message-timestamp {
  color: #666;
  text-align: center;
  padding: 6px;
  z-index: 1;
  font-size: 14px;
  visibility: hidden;
  margin: 0px 5px;
}

.message-timestamp.visible {
  visibility: visible;
}
.timestamp-system {
  position: absolute;
  padding-top: 10px;
  padding-left: 6px;
}

/*Add the corner tooltip to buddy messages*/
/*.buddy-message-container {*/
  /*position: relative;*/
/*}*/

/*.buddy-message:before {*/
  /*content: "";*/
  /*position: absolute;*/
  /*z-index: 0;*/
  /*bottom: 0;*/
  /*left: -7px;*/
  /*height: 20px;*/
  /*width: 20px;*/
  /*background: #eee;*/
  /*border-bottom-right-radius: 15px;*/
/*}*/

/*.buddy-message:after {*/
  /*content: "";*/
  /*position: absolute;*/
  /*z-index: 1;*/
  /*bottom: 0;*/
  /*left: -10px;*/
  /*width: 10px;*/
  /*height: 20px;*/
  /*background: white;*/
  /*border-bottom-right-radius: 10px;*/
/*}*/

.chat-controls {
  height: 8vh;
  /*padding: 0 10px;*/
  width: 98vw;
  margin-left: 1vw;
  border-radius: 999px;
  box-sizing: border-box;
  /*box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 2px -2px;*/
  display: grid;
  grid-template-columns: calc(8vh - 2px) auto calc(8vh - 2px);
}

.chat-controls.connected {
  border: 1px solid #aaaaaa;
}

.chat-controls.disconnected {
  border: none;
}

.circle-wrapper {
  height: calc(8vh - 2px);
  width: calc(8vh - 2px);
}

.circle-wrapper.send {
  text-align: right;
}

.circle {
  border-radius: 50%;
  box-sizing: border-box;
  height: 80%;
  width: 80%;
  margin: 10% 8%;
  outline: none;
  border: none;
}

.button-icon {
  height: 60%;
  width: 60%;
}

.button-icon.x {
  height: 50%;
  width: 50%;
}

/* Lower the heart a bit so it's more centered */
.button-icon.like {
  margin-top: 5%;
}

.chat-disconnect-button {
  background-color: #AA0000;
  outline: none;
}

.chat-next-button {
  border: 1px solid #00AA00;
  background-color: #00AA00;
  outline: none;
}

.middle-buttons {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 8vh 8vh;
  justify-content: space-evenly;
}

.like-button {
  border: 2px solid #4A5AE5;
  background-color: #FFFFFF;
  position:relative;
}

.like-button.active {
  border: 2px solid #4A5AE5;
  background-color: #4A5AE5;
}

.like-text {
  position: absolute;
  top: -15px;
  text-align: center;
  width: 100%;
  color: blue;
  font-size: 18px;
  opacity: 0.0;
}

.like-text.animate {
  animation: up-text 1.2s ease-in-out;
}

@keyframes up-text {
  0% {opacity: 0.0; top: -15px;}
  10% {opacity: 0.0;}
  40% {opacity: 0.6;}
  90% {opacity: 0.0;}
  100% {opacity: 0.0; top: -50px;}
}

.save-button {
  border: 1px solid #7F00FF;
  background-color: #7F00FF;
  /*background-color: #FFFFFF;*/
}

.save-button.active {
  background-color: #7F00FF;
}

.report-button {
  border: 2px solid #CC0000;
  background-color: #FFFFFF;
}

.report-button.active {
  border: 2px solid #CC0000;
  background-color: #CC0000;
}

.chat-input {
  border: none;
  outline: none;
  height: calc(100% - 2px); /*border of the controls*/
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 22px;
}

.chat-send-button {
  border: 1px solid #0074d9;
  background-color: #0074d9;
  outline: none;
}

.chat-send-button.disabled {
  background-color: #aaaaaa;
  border: 1px solid #aaaaaa;
}

/* /Chat */

/* About */
#picture-gallery {
  height: 200px;
  margin: 0 auto;
}

.pic {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 100px);
  cursor: pointer;
}

.red {
  background-color: red;
  z-index: 3;
}

.blue {
  background-color: blue;
  z-index: 2;
}

.green {
  background-color: green;
  z-index: 1;
}

@keyframes pic-discard {
  0% { transform: translate(0,0); z-index: 3; }
  25% { transform: translate(-125px, 10px); }
  50% { transform: translate(-250px, 25px) rotate(-60deg); z-index: 3; }
  55% {  z-index: 1; }
  75% { transform: translate(-125px, 10px); }
  100% { transform: translate(0,0); z-index: 1; }
}

.pic-discard {
  animation: pic-discard 1000ms cubic-bezier(.4,0,.6,1) 0s 1 normal;
}

/* /About */

.status-wrapper {
    height: 250px;
    width: 250px;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.loader{
  border: 5px solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: #0074d9 transparent transparent;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  box-shadow: #282c34;
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}

.status {
    margin: 100px auto 0 auto;
    width: 100px;
    height: 50px;
    font-size: 24px;
    color: #666;
}
